<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dash Capture V0.5.0 (Beta)</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
    <section class="columns">
      <section class="column is-three-fifths">
        <section class="stream">

          <video muted="true"></video>

        </section>
      </section>
      <div class="column">2</div>
    </section>

    <script defer src="./index.js"></script>
  </body>
</html>
