
@font-face {
  src: url(./assets/Poppins-Regular.ttf);
  font-family: 'Poppins';
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  background: #FAFAFA;
}

.stream {
  position: relative;
  width: 500px;
  height: 281.25px;
  left: 48px;
  top: 143px;

  background: #F2F2F2;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}